body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 50%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.page-title {
    text-align: center;
    color:#2d2d86;
    font-size: 2rem;
    margin-bottom: 20px;
}

.main-image {
    display: block;
    margin: 0 auto 25px auto;
    width: 50%;
    border-radius: 10px;
}

.section {
    margin-bottom: 25px;
}

.section h2 {
    color: #1c2676;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.section ul {
    padding-left: 20px;
}

.highlight {
    color: #0d1b5e;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 30px;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 40px;
    color: #666;
}
.download-container {
  text-align: center;
  margin: 20px 0;
}

.download-btn {
  background-color: #2c3e50;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #1a242f;
}
.sub-title{
    color: #034383;
    text-align: center;
    
}
.home-button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  margin-left: 900px;
}

.home-button:hover {
  background-color: #388E3C;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f2f2f2;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 999;
}

.nav-button {
  margin-left: 12px;
  padding: 10px 18px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #005fa3;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
  color: #333;
}